<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<footer>
    <div class="footer-content">
        <p>Desenvolvido por <a href="https://github.com/viniciusnt05" target="_blank">@viniciusnt05</a></p>
    </div>
</footer>
