<%- include ('partials/header.ejs') %>

<body>
    <%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="card" id="form-question">
            <div class="card-header">
                <h3>Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarQuestao">
                    <label for="">Titulo</label>
                    <input name="titule" type="text" placeholder="Titulo" class="form-control">
                    <br>
                    <label for="">Descrição</label>
                    <textarea name="description" class="form-control" cols="20" rows="5" placeholder="Digite aqui"></textarea>
                    <br>
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>

        <a href="/">
            <button type="submit" class="btn btn-success">Voltar à tela inicial</button>
        </a>
    
    </div>
    
</body>
<%- include ('partials/footer.ejs') %>